body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tertiary);
  color: var(--secondary)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --primary: #177fcf;
  --secondary: #d9d9d9a4;
  --tertiary: #272727;
  --accent: #842840;
  --label:  #0d0c0c82;

  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  
  --color-primary: #1db5ff;
  --color-primary-variant: rgba(77,181,255,0.4);
  --color-light: rgba(255, 255, 255, 0.6);
  --color-white: #fff;
  --color-bg: #1f1f38;
  --color-bg-variant: #09000031;

}

a {
  color:var(--accent);
}

a:hover {
  color:gold;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: .75rem 1.2rem;
  border-radius: .5rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent
}

.btn-primary{
  background: var(--color-primary);
  color: var(--color-bg);
}

.container {
width: var(--container-width-lg);
margin: 0 auto;
}

img {
  display:block;
  width: 100%;
  object-fit:cover;
}

a:active {
  font-weight: bold;
  font-size: 1.2em;
  color:var(--accent);
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
}




